.vscode

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# --- Kicad ---
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
*.kicad_pcb.lck
*.kicad_sch.lck
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*jlcpcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# --- FreeCAD ---
*.FCBak

# Exported BOM files
# *.xml
# *.csv
